<div class='bg-light'>
  <div mat-dialog-content style='width:400px; margin:10px;'>
    <h5 style='margin-top:10px; padding-left: 10px;'>Enter Name:</h5>
    <mat-form-field style='width:300px; margin:10px;'>
      <input style=' width:100%' matInput [(ngModel)]='data.name' >
    </mat-form-field>
  </div>
  <div class='float-right' mat-dialog-actions>
    <button mat-button (click)='CancleClick()'>Cancle</button>
    <button
      mat-button
      (click)='OkClick(data.name)'
      [mat-dialog-close]='data.name'
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</div>