<mat-card class="displayMode" *ngIf="displaymode">
  <mat-card-content>
    <mat-checkbox
      *ngIf="itemtype !== 3"
      (click)="taskdone()"
      class="inline"
      [(ngModel)]="done"
    ></mat-checkbox>
    <div class="inline">{{ task.title }}</div>
    <div class="inline-date">{{ task.date | date: " MMMM d, y" }}</div>
    <mat-icon matTooltip="Edit" *ngIf="itemtype !== 3" (click)="edit()" class="inline"
      >edit</mat-icon
    >
    <mat-icon matTooltip="delete" (click)="deleteTask()" class="inline">delete_outline</mat-icon>
    <mat-icon matTooltip="description" (click)="openSnackBar()"> description</mat-icon>
    <mat-icon
      *ngIf="itemtype !== 2 && itemtype !== 3"
      (click)="movetask()"
      class="inline-button"
      matTooltip="move to Daily Tasks"
      >move_to_inbox</mat-icon
    >
  </mat-card-content>
</mat-card>

<mat-card class="editMode" *ngIf="!displaymode && task">
  <mat-card-header>
    Edit Task
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          placeholder="Enter New Title"
          matInput
          name="title"
          [formControl]="title"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          placeholder="Enter New Date"
          matInput
          type="date"
          name="date"
          [formControl]="date"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          name="title"
          placeholder="Enter new Description"
          [formControl]="description"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button (click)="cancleEdit()">cancel</button>
      <button mat-raised-button color="primary" type="submit">save</button>
    
    </form>
  </mat-card-content>
</mat-card>
