<mat-card class="displayMode" *ngIf="displaymode">
  <mat-checkbox (onclick)="taskdone()" class="inline" [(ngModel)]="done" [disabled]="disabled"></mat-checkbox>
  <div (dblclick)="editTitle()" class="inline">{{task.title}}</div>
  <div (dblclick)="editDate()" class="inline">{{ task.date| date:'EEEE, MMMM d, y'}}</div>
  <mat-icon (click)="deleteTask()" class="inline" >delete_outline</mat-icon>
  <mat-icon>description</mat-icon>
  <button mat-button (onclick)="movetask()" class="inline"> move to Daily List</button>
</mat-card>
<div class="editMode" *ngIf="!displaymode">
  <form (ngSubmit)="onSubmittitle()" class="edit-title" *ngIf="edit_title">
      <mat-form-field *ngIf="edit_title">
          <input *ngIf="edit_title" placeholder="Enter New Title" matInput name="title" [formControl]="title">
  
      </mat-form-field>  
      <button mat-button type="submit" >save</button>  
      <button mat-button (click)="cancleEdit()">cancel</button>
  </form>
  <form (ngSubmit)="onSubmitdate()" class="edit-date" *ngIf="edit_date">
      <mat-form-field *ngIf="edit_date">
          <input *ngIf="edit_date" placeholder="Enter New Date" matInput name="date" [formControl]="date">
  
      </mat-form-field>
      <button mat-button *ngIf="edit_date" type="submit" >save</button>  
      <button mat-button *ngIf="edit_date" (click)="cancleEdit()">cancel</button>
  </form>
  <form (ngSubmit)="onSubmitdes()" class="edit-description" *ngIf="edit_des">
      <mat-form-field *ngIf="edit_des">
          <textarea *ngIf="edit_des" matInput name="title" [formControl]="description"></textarea>
  
      </mat-form-field>    
      <button mat-button *ngIf="edit_des" type="submit" >save</button>  
      <button mat-button *ngIf="edit_des" (click)="cancleEdit()">cancel</button>
  </form>
    
</div>
