<div class="toolbar">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      (click)="snav.toggle()"
      [hidden]="!mobileQuery.matches"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">TO DO LIST</h1>
  </mat-toolbar>
</div>

<mat-sidenav-container
  class="sidenav-container"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
>
  <mat-sidenav
    class="mat-sidenav"
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [(opened)]="!mobileQuery.matches"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="65"
  >
    <mat-nav-list>
      <app-newlist class="newlist" mat-list-item></app-newlist>
      <mat-list-item (click)="displayCompletedTasks()" [routerLink]="['/completed']">
        <a  >
          Completed Tasks
        </a>
      </mat-list-item>
      <mat-list-item
        (click)="selectList(list)"
        class="list-item"
        *ngFor="let list of alllists"
        class="list"
        [routerLink]="['/tasklist', list._id]"
      >
        <a> {{ list.title }} </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
