[hidden] {
  display: none !important;
}
.mat-sidenav {
  width: 250px;
  background-color: rgb(221, 211, 240);

}

.list {
  display: inline-block;
  align-content: center;
  border-bottom: groove 1px grey;
}
.newlist {
  align-self: center;
}
.sidenav-container { 
  display: flex;
  flex-flow: column;
  height: 100%;
}
.content {
  height: 100%;
  flex-grow : 1;
}
.toolbar {
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
  z-index:2;
}
.deletebutton {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
} 
.subheader {
  padding-bottom: 10px;
}
.name {
  display: inline-block;
  margin-left: 10px;
  margin-top:10 px;
}