mat-list-item {
  display: block;
  margin: 25px;
}
.task-item {
  display: block;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px; 
}

.new-task {
  
  margin-left: 50px;
  margin-right: 50px;
}
.deletebutton {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
} 
.subheader {
  padding-bottom: 10px;
}
.name {
  display: inline-block;
  margin-left: 10px;
  margin-top:10 px;
}
mat-form-field {
  margin-right:40px;
  margin-left:40px
}
form {
  border: 1px solid whitesmoke;
}
button {
  display: block;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  width: 100px;
}
.span-edit {
  font-size : 13px;
  margin-left: 10px;
}